.filecartComments {
    
}

.filecartComments .filecartcollapsed {
    display: none;
}

.filecart-viewlet .title {
    font-weight: bold;
}


.filecart-controls {
    float:right;
    /* IE 6-7 fixes */    
    *float:none;
}

.filecart-controls a.action {
    float:right;
    height:12px;
    width:12px;
    margin-left:5px;
    margin-top:3px;
    /*overflow:hidden;*/
    /*position:relative;*/
    background:url(++resource++fc-controls-actions_mapping.png) no-repeat;
}

.filecart-controls a.action span.legend {
    display:block;
    height:0;
    /*left:-9999px;*/
    overflow:hidden;
    /*position:relative;*/
    /*top:-9999px;*/
    width:0;
}

/* Action mapping *************************************************************/

.filecart-controls a.action.menu {
    background-position:0 0;
}

.filecart-controls a.action.fcexpand {
    background-position:-12px 0;
}

.filecart-controls a.action.fccollapse {
    background-position:-24px 0;
}

.filecart-controls a.action.close {
    background-position:-36px 0;
}

.filecart-controls a.action.refresh {
    background-position:-48px 0;
}

.filecart-controls a.action.menu:hover {
    background-position:0 -12px;
}

.filecart-controls a.action.fcexpand:hover {
    background-position:-12px -12px;
}

.filecart-controls a.action.fccollapse:hover {
    background-position:-24px -12px;
}

.filecart-controls a.action.close:hover {
    background-position:-36px -12px;
}

.filecart-controls a.action.refresh:hover {
    background-position:-48px -12px;
}


/* Menu ***********************************************************************/
 
.filecart-controls ul {
    background: #dee7ec;
    border:1px solid #8cacbb;
    margin: 23px 0 0 0;
    position: absolute;
    list-style-type: none;
    list-style-image: none;
    z-index:10;
    /* IE 6-7 fixes */
    *margin: 23px -100% 0 0;
    *position: relative;
    *float: right;
}

.filecart-controls li {
    margin:0;
}

.filecart-controls li a,
.filecart-controls li a:visited
{
    display: block;
    font-size: 90%;
    background:#dee7ec;
    color:#436976;
    text-decoration:none;
    border:none;
    padding: 0 5px;    
    
}

.filecart-controls li a:hover
{
    background: #8cacbb;
    color: #fff;
}
